html {
  background-image: url(image/img-fon.jpg);
  background-size: cover;  
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: 'Girassol', cursive;
  
}

.main {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  margin: 0 auto;
  max-width: 50%;
  border-radius: 5px;
  padding: 50px 25px;

}

.todo-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  padding-left: 0px;
  
}

.todo-button-delete {
  margin-left: 20px;
  background-color: #50b8df;
  box-shadow: 0 0 5px 2px #ccf6ff;
  color: white;
  border-radius: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* src: url(image/delete.png); */
 
}

.todo-button-accept {
  display: flex;
  margin-left: 20px;
  background-color: #50b8df;
  box-shadow: 0 0 5px 2px #ccf6ff;
  color: white;
  border-radius: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;

}

.button-cross-out {
  /* text-decoration: line-through; */
  text-decoration-color: red;
  text-decoration-line:  line-through;
  /* border-bottom: 1px solid red;
  margin-bottom: -10px; */
}

.button-cross-out:active {
  display: none;
}

.todo-button-delete:hover {
  background-color: red;
  cursor: pointer;
}

.todo-item {
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 5px;
  color: #5b6f90;
  min-width: 400px;
  justify-content: space-between;
}

.todo-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid gray;
}
.todo-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.date {
  flex: 1;
}

.name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qwe {
  display: flex;
  margin-bottom: 20px;
}



#Btn {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: crimson;
  box-shadow: 0 0 5px 2px #ccf6ff;
  background-color: #50b8df;
  color: white;

}

#Btn:hover {
  background-color:green;
  cursor: pointer;
}

#text {
  border-radius: 5px;
  box-shadow:white;
  padding: 10px;
  box-shadow: 0 0 5px 2px #84a7c3;
}

h1 {
  color: #867c7d;
  background-color: #fcfcfc;
  margin-top: 0px;
}

h2 {
  color: #556f94;
  /* font-family: sans-serif; */
  font-size: xx-large;
  font-family: 'Girassol', cursive;
}

.task {
  margin-right: 15px;
  margin-top: 10px;
  color:#556f94 ;
  font-family: sans-serif;
  font-weight:bold
}

@media screen and (max-width:1200px) {
  .qwe {
    margin-right: 20px;
    flex-direction: column;
  }

  #Btn {
    margin-top: 20px;
  }

  .main {
    min-width: fit-content;
  }

  .task {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

  }

 h2 {
   color: red;
 }
}
